label {
    font-family: fantasy;
    font-size: large;
    color: gold;
}

label:hover {
    color: darkblue;
}

h5 {
    font-family: fantasy;
    font-size: large;
    color: gold;
}

h5:hover {
    color: darkblue;
}

.link {
    color: darkblue;
    text-decoration: none;
    font-family: fantasy;
    font-size: large;
    background-color: gold;
    padding: 5px;
}

.link:hover {
    color: gold;
    background-color: darkblue;
}